In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel


df = pd.read_csv(r'C:\Users\Maisha Fahmida\Desktop\PA\CSV file\fau_transline_recommender.csv')

In [3]:

df['soup'] = (
    df['teams'] + ' ' +
    df['previous_experience'] + ' ' +
    df['hobbies'] + ' ' +
    df['sports'] + ' ' +
    df['personality_traits']
)

In [5]:

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['soup'])
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [7]:

indices = pd.Series(df.index, index=df['id']).drop_duplicates()

In [9]:

def get_recommendations(emp_id, cosine_sim=cosine_sim):
    idx = indices[emp_id]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:4]
    emp_indices = [i[0] for i in sim_scores]
    return df.iloc[emp_indices][['id', 'teams', 'previous_experience', 'hobbies', 'sports', 'personality_traits']]

In [21]:

recommendations = get_recommendations('klara_007')
recommendations

,id,teams,previous_experience,hobbies,sports,personality_traits
41,emma_042,team_03,Advanced beginner,"walking, journaling, listening to podcasts",table tennis,"empathetic,innovator"
48,christian_049,team_03,Competent,"listening to podcasts, journaling, puzzle-solving",table tennis,"cooperative,empathetic"
0,simon_001,team_02,Expert,"reading maps, walking, listening to podcasts",table tennis,"curious,energetic"